<div class="row">
  <div class="col-sm-2">
    <h1>Add an item</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= form_with(url: "/items", method: :post, local: true) do |form| %>
    

    <% end %>
  </div>
</div>
